// Mixins
animate(name, time)
    animation name time forwards
    -moz-animation name time forwards
    -webkit-animation name time forwards
    -o-animation name time forwards
    -ms-animation name time forwards

// Keyframes
@keyframes slideLeft
    from
        left 100%
    to
        left 0%

@keyframes slideRight
    from
        left 0%
    to
        left 100%

// Styles
body
    font 12px Helvetica, Arial, sans-serif

div#wrapper
    width 100px
    position absolute
    animate(slideLeft, 1s)
 
a.button
    -webkit-border-radius 5px
    -moz-border-radius 5px
    border-radius 5px

