color_darkblue = #215e86
color_orange = #f04e23
color_green = #70bf00
color_darkgreen = #4e8500
color_blue = #4896cb
color_darkorange = #f04e23

// Mixins
animate(name, time, fillmode)
    animation name time fillmode
    -moz-animation name time fillmode
    -webkit-animation name time fillmode
    -o-animation name time fillmode
    -ms-animation name time fillmode

 box-shadow(args...)
   -webkit-box-shadow args
   -moz-box-shadow args
   box-shadow args

transform(arg)
    transform arg
    -moz-transform arg
    -webkit-transform arg
    -o-transform arg
    -ms-transform arg

border-left-image(image)
    -moz-border-left-image url( image )
    -webkit-border-left-image url( image )
    -o-border-left-image url( image )
    border-left-image url( image )

bluebg()
    background-image: url('/images/blue-bg.jpg')

// Mixins
animate(name, time, fillmode)
    animation name time fillmode
    -moz-animation name time fillmode
    -webkit-animation name time fillmode
    -o-animation name time fillmode
    -ms-animation name time fillmode

gradient(start, color1, color2)
   background-image: -webkit-linear-gradient(start, color1, color2); 
   background-image: -moz-linear-gradient(start, color1, color2);
   background-image: -ms-linear-gradient(start, color1, color2);
   background-image: -o-linear-gradient(start, color1, color2);

appearance(arg)
    appearance arg
    -moz-appearance arg
    -webkit-appearance arg

transform(arg)
    transform arg
    -moz-transform arg
    -webkit-transform arg
    -o-transform arg
    -ms-transform arg

// Keyframes
@keyframes bounceIn
    0%
        opacity 0
        transform(scale(.3))
    50%
        opacity 1
        transform(scale(1.05))
    70%
        transform(scale(.9))
    100%
        transform(scale(1))

html
    background: black
    background-image url('/images/blue-bg.jpg')
    height 100%

body
    font: 16px Kameron
    width: 320px
    height: 100%
    margin: 0

body #wrapper 
    min-height: 100%;

body #wrapper.white
    background-color: white

body h3 
    font-size: 27px
    margin: auto 20px
    text-align: left

body h3.blue
    color: color_darkblue
    font-size 34px

body header 
    height: 48px
    width: 320px
    text-align: center
    position: relative
    background-color white

body header img
    margin-top: 8px
    height: 27px

body header img:first-child
    height: 23px
    position: absolute
    left: 11px
    top: 11px
    margin-top: 0

body img.lobby 
    margin: 40px 20px 35px 18px
    height: 110px

body div.lobby.bluebg
    height: 260px
    position absolute
    bottom: 0
    bluebg()

body div.lobby input:first-child
    margin-top: 30px

p.lobby_or
    margin: 0

.lobby_rules
    position relative
    margin 15px auto
    width 180px
    color color_darkblue

.lobby_rules img
    position absolute
    height 25px
    left 0
    top 5px

.lobby_rules div
    position absolute
    text-align center
    width 155px
    right 0
    top 0

body input[type="button"]
    height: 55px
    border-radius: 15px
    background-color: color_green
    border: 5px solid color_darkgreen
    font: 26px Kameron
    width: 280px
    margin: 5px 20px
    appearance(none)

body input[type="button"].blue 
    background-color: color_blue
    border-color: color_darkblue

body p 
    font-size: 20px
    text-align: center

body p span.bar
    display: inline-block
    width: 60px
    height: 2px
    background-color: black
    transform(translateY(-3px))

body div.newgame.bluebg
    padding: 20px 0 0 0
    height: 392px
    width: 320px
    bluebg()

body div.newgame ul 
    width: 300px
    list-style-type: none
    padding: 0

body div.newgame ul li
    text-align: center
    float: left
    width: 100px

body div.join.bluebg 
    padding: 20px 0 0 0
    height: 392px
    width: 320px
    bluebg()

body div.join.bluebg input[type="text"]
    width: 240px
    margin-left: 60px
    height: 94px
    padding: 0
    background: url('/images/code-background.png') transparent
    border: none
    background-size: 200px 94px
    background-repeat: no-repeat
    font-size: 90px
    font-family: "Courier New", "Courier"
    letter-spacing: 15px
    outline: 0
    appearance(none)

body div.showcode.bluebg img 
body div.join.bluebg img
      width: 37px

body div.join.bluebg h3.blue 
    margin-left: 0
    text-align: center

body div.showcode.bluebg 
    padding: 20px 0 0 0;
    height: 375px;
    bluebg()

body div.showcode.bluebg  div.your-code
    font-size: 57px
    font-weight: bold
    background-image: url('/images/your-code-background.png')
    background-size: 286px 97px;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 94px;
    color: white;
    height: 97px;
    margin: 30px; 0;

body div.showcode.bluebg h3.red 
    margin-left: 0
    text-align: center;
    color: color_darkorange
    font-size: 34px;

body div.dice.bluebg 
    padding: 20px 0 0 0;
    height: 375px;
    overflow: hidden;
    bluebg()

body div.dice.bluebg #dices
    margin-top  50px
    text-align center

body div.dice.bluebg #dices .diceface
    border-top 1px solid #f1f1f1
    width 80px
    height 80px
    border-radius 10px
    position relative
    margin 10px
    font-size 6px
    display inline-block
    box-shadow 0px 5px 0 #CCC, 0 6px 3px #444, 0 10px 5px #999
    gradient(top, #fefefe, #f1f1f1)

body div.dice.bluebg #dices .dot
    width 60%
    height 60%
    left 30%
    top 35%
    margin -10%
    border-radius 50%
    display block
    position absolute
    font-size 36px

body div.dice.bluebg input[type="button"]
  margin-top: 100px

body div.game.bluebg 
  padding: 20px 0 0 0;
  height: 375px;
  bluebg()

body div.game.bluebg div.score
  position: absolute
  top: (20+48)px;
  right: 20px;
  background-color: color_darkorange
  padding: 5px 15px
  border-radius 15px
  color: white

div.score
    box-shadow 2px 2px 1px 0px #555

body div.game.bluebg ul.answers 
  margin: 0 20px
  list-style-type: none
  padding: 0

body div.game.bluebg ul.answers li 
  color: white;
  font-weight: bold;
  font-size 24px

body div.game.bluebg ul.answers li input
  width 25px
  height 25px
  border-radius 12px
  -webkit-appearance: none
  background-color white
  transform(translateY(8px))

body div.game.bluebg ul.answers li input[disabled="disabled"]
  background-color color_blue

body div.game.bluebg ul.answers li input[disabled="disabled"]+label
  color: color_blue

body div.game.bluebg ul.answers li input:checked
  background-color color_green

body div.game.bluebg ul.answers li input:checked+label
  color: color_green

body div.rules.bluebg
  height: 392px;
  bluebg()

body div.rules div.rule0
  display none

body div.rules div.rule0.active
  display: block
  height: 290px;

body div.rules div.rule0.active p
  width 280px
  margin: 0 20px

body div.rules div.rule0.active p.rulecard
  margin: 0 23px 
  width 250px
  background-color color_darkblue
  color white
  border-radius 15px
  font-size 15px
  padding: 10px
  text-align: left


body div.rules div.rule1.active img
  width 320px

body div.rules div.rule1
  display none

body div.rules div.rule1.active
  display: block
  height: 290px;

body div.rules div.rule1.active p
  width 280px
  margin: 0 20px

body div.rules div.rule1.active p.rulecard
  margin: 0 23px
  width 250px
  background-color color_darkblue
  color white
  border-radius 15px
  font-size 15px
  padding: 10px
  text-align: left

body div.rules div.rule1.active img
  width 320px

body div.rules div.rule2
  display none

body div.rules div.rule2.active
  display: block
  height: 290px;

body div.rules div.rule2.active p
  width 280px
  margin: 0 20px

body div.rules div.rule2.active p.rulecard
  margin: 0 23px
  width 250px
  background-color color_darkblue
  color white
  border-radius 15px
  font-size 15px
  padding: 10px
  text-align: left


body div.rules div.rule2.active img
  width 320px

body div.rules div.rule3
  display none

body div.rules div.rule3.active
  display: block
  height: 290px;

body div.rules div.rule3.active p
  width 280px
  margin: 0 20px

body div.rules div.rule3.active p.rulecard
  margin: 0 23px
  width 250px
  background-color color_darkblue
  color white
  border-radius 15px
  font-size 15px
  padding: 10px
  text-align: left


body div.rules div.rule3.active img
  width 320px

body div.rules div.rule4
  display none

body div.rules div.rule4.active
  display: block
  height: 290px;

body div.rules div.rule4.active p
  width 280px
  margin: 0 20px

body div.rules div.rule4.active p.rulecard
  margin: 0 23px
  width 250px
  background-color color_darkblue
  color white
  border-radius 15px
  font-size 15px
  padding: 10px
  text-align: left


body div.rules div.rule4.active img
  width 320px

body div.rules div.rule5
  display none

body div.rules div.rule5.active
  display: block
  height: 290px;

body div.rules div.rule5.active p
  width 280px
  margin: 0 20px

body div.rules div.rule5.active p.rulecard
  margin: 0 23px
  width 250px
  background-color color_darkblue
  color white
  border-radius 15px
  font-size 15px
  padding: 10px
  text-align: left


body div.rules div.rule5.active img
  width 320px


body div.rules div.rule6
  display none

body div.rules div.rule6.active
  display: block
  height: 290px;

body div.rules div.rule6.active p
  width 280px
  margin: 0 20px

body div.rules div.rule6.active p.rulecard
  margin: 0 23px
  width 250px
  background-color color_darkblue
  color white
  border-radius 15px
  font-size 15px
  padding: 10px
  text-align: left


body div.rules div.rule6.active img
  width 320px

body div.rules.bluebg ul.page-indicator 
  margin: 0 20px
  list-style-type none
  width 280px
  text-align center
  padding 0

body div.rules.bluebg ul.page-indicator li
  display inline

body div.rules.bluebg ul.page-indicator li input[type="button"]
  width: 15px
  height: 15px
  border-radius 7px
  background-color white
  border: none
  color: transparent
  margin: 2px

body div.rules.bluebg ul.page-indicator li input[type="button"].active
  background-color color_darkblue

body div.game-results.bluebg 
  bluebg()
  padding: 20px 0
  height: 375px;

body div.game-results.bluebg span.score
  font-size: 24px
  color: white

a.button
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

div#wrapper
    position absolute
    //animate(bounceIn, 1s, forwards)

div#wrapper.landscape
	display none
	
.text_shadow_white_small
    text-shadow #fff 1px 1px 1px

.text_shadow_white_big
    text-shadow #fff 2px 2px 1px

.text_shadow_black_small
    text-shadow #000 1px 1px 1px

.text_shadow_black_big
    text-shadow #000 2px 2px 1px

p.subtitle
    margin 0

.advanced_option_slider
    background-color color_darkblue
    display block
    margin auto auto
    width 280px
    height 50px
    margin-bottom 10px

    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px

.option-nav
    display inline-block
    width 50px
    height 100%

.option
    width 100%
    height 100%

div.wait
  background: #222
  color:      #fff
  position: absolute
  top: 0
  left: 0
  height:     440px
  width:      320px

  img
    position: absolute
    top: 90px
    left: 150px

  h3
    top: 125px
    left: 83px
    position: absolute

  p
    top: 149px
    font-size: 15px
    left: 52px
    position: absolute

.game-results
  font-size 30px

  h3
    font-size 40px

  table
    width 100%
    border-spacing 0
    border-collapse:collapse;

    td
      border-top solid 1px black
      
    .scores
        background-color rgba(255,255,255,0.5) !important
        margin 1px
        text-align center

    td:last-child
        border-left-image( "/images/blue-bg.jpg" )

    tr:last-child td
      border-top solid 4px black
    
    th
      font-size 24px !important
      border-bottom solid 4px black
    
  #round
    width 60%

  #red
    width 20%

  #blue
    width 20%
